body{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.radix-themes {
  --my-background-color: #252528;
  --color-background: var(--my-background-color);
  --peachflix-brand-primary: #FD6E1D;
  --orange-9: var(--peachflix-brand-primary);
  --font-size-9: 80px
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

.pagination{
  display: flex;
  margin-top: 24px;
}
.pagination-button{
  display: block;
  cursor: pointer;
  width: 32px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  margin: 4px;
  border: none;
  background: #3E3E40;
  border-radius: 32px;
}
.pagination-prev,  .pagination-next{
  line-height: 10px;
  margin: 0;
  height: 40px;
  width: 40px;
  border-radius: 0
}
.pagination-prev{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.pagination-next{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.pagination-active{
  background: #565659
}